* {
	margin: 0;
  	padding: 0;
} <!-- default values -->

body {
	font-family: Georgia;
	font-size: 16px;
	margin: 0 auto;
	max-width: 800px;
	line-height: 1.5;
	padding-top: 32px;
	padding-bottom: 32px;
}

p {
	margin-bottom: 12px;
	margin-top: 8px;
}

h1, h2, h3 {
	font-weight: 400;
	margin-bottom: 0px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
	border-bottom: 1px solid #808080;
	margin-bottom: 8px;
}

h3 {
	font-size: 20px;
}

#header {
	margin-bottom: 32px;
	text-align: center;
}

#footer {
	margin-top: 64px;
	margin-bottom: 5px;
	text-align: center;
}

p.main {
	margin-top: 5px;
}

p.footer {
	font-weight: bold;
	margin-bottom: 0px;
}

h3.main {
	font-weight: 600;
}
