.block1{
	background-color: lightblue;
}

.block2{
	background-color: lightcoral;
}


/* * {
  box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.menu {
	background-color: #f7e86230;
	padding-bottom: 50px;
	border: 0px;
}

.workman {

}

.tbody h1 {
	text-align: center;
}

.tfooter {
	border: 1px dashed orange;
	padding-bottom: 50px;
} */
