* {
  box-sizing: border-box;
}

.thead {
	padding-bottom: 60px;
	background-color: greenyellow;
}

.tbody h1 {
	text-align: center;
}

.tfooter {
	border: 1px dashed orange;
	padding-bottom: 50px;
}

.thead h1 {
	
}