* {
  box-sizing: border-box;
}

.thead {
	border: 1px dashed red;
	padding-bottom: 150px;
}

.tbody {
	border: 1px dashed blue;
	padding-bottom: 300px;
}

.tfooter {
	border: 1px dashed orange;
	padding-bottom: 50px;
}